body,div,b,h2,a {
    padding: 0px; /* растояние от контента до рамки*/
    margin: 0px;  /* расстояние от рамки до внешних отступов..*/    
}
    body {
    background-image: url('../images/dd.jpg');
}
    

#wrapper {
    background-image: url('../images/ii.jpg');
    padding: 0px;
    margin: 0px auto;
    width: 1000px;
}

#header {
    margin: 0;
    padding: 0;
    height: 180px;
}
#logo {
    background-image: url('../images/t2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.9), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    text-decoration: none;
    position: relative;
    width: 77px;
    height: 140px;
    top: 10px;
    left: 30px;
}

#logo:hover { 
    background-image: url('../images/t23.jpg');
} /* картинка при наведении курсора */
    

#slogan {
    position: relative;
    margin: 0;
    padding: 0;
    bottom:  130px;
    text-align: center;
    background: none;
}

.slogan { 
    font-family: Marck Script;
    font-size: 22px;
}

#header_line {  
    position: relative;
    height: 20px;
    text-align: center;
    background: none;
}

#glavnaj {
    background: none;
    position:absolute;
    width: 70px;
    height: 20px;
    bottom: 8px;
    left: 80px;
}

#contacts {
    background: none;
    position:absolute;
    width: 70px;
    height: 20px;
    bottom: 8px;
    left: 300px;
}

#galery {
    background: none;
    position: absolute;
    width: 60px;
    height: 20px;
    bottom: 8px;
    right: 380px;
}

#obratnaj {
    background: none;
    position: absolute;
    width: 110px;
    height: 20px;
    bottom: 8px;
    right:  100px;
}


#content {
    height: 800px;
    background-color: #FFFAFA;
    position: relative;
    overflow: hidden;
    background-image: url('../images/ii3.jpg')
}

#footer {
    background: url('../images/l.jpg');
    position: relative;
    height: 30px;
    width: 100%;
    text-align: center;
    clear:both;
}


h3 { font-size: 12pt; text-align: center}

a {
    text-decoration: none;
    color: #0903DE;
}

.content { font-family: "Arial"; }

.news_item {
margin-left: 10px;    
background-image: none;
}

.admin {
    position: absolute;
    top: 2px;
    right: 12px;
    background-image: none;
    text-align: right;
    padding: 0px; /* растояние от контента до рамки*/
    margin: 0px;  /* расстояние от рамки до внешних отступов..*/
}


#content_admin {
    background: rgba(206,128,62,0.8);
    padding: 0px;
    margin: 0px auto;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    
}
#add {
    padding: 0px;
    margin: 0px auto;
    position: absolute;
    top: 0px;
    left: 80px;
    background: none;
}
#ex {
    position: absolute;
    top: 2px;
    right: 10px;
    background: inherit;
}
#n {
    position: relative;
    top 20px;
    left: 10px;
    background: inherit;
}
#m_page {
    position: absolute;
    top: 1px;
    right:80px;
    background: inherit;
}

#admins {
    position: absolute;
    top: 0px;
    left: 80px;
    background: inherit;
}

#gal {
    position: absolute;
    top: 0px;
    left: 240px;
    background: inherit;
}

#back_map {
    padding: 0px;
    margin: 0px;
    position: absolute;
    background-image: url('../images/dd.jpg');
    width: 820px;
    height: 460px;
    bottom:  30px;
    left: 70px;
}

#map {
    position: relative;
    background: #000000;
    width: 800px;
    height: 350px;
    bottom:  -8px;
    left: 10px;
}

#butons {
display: inline-block;
font-size: 14px;
font-weight: bold;
color: #EFFAFA;
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5);
letter-spacing: 0;
border: none;
box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.9), inset 0 1px 0 rgba(255, 255, 255, 0.4);
border-radius: 6px;
text-decoration: none;
padding: 5px 30px;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
background: url('../images/dd.jpg') repeat, -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #396337), color-stop(0.00, #1c281f));
background: url('../images/dd.jpg') repeat, -webkit-linear-gradient(#1c281f, #396337);
background: url('../images/dd.jpg') repeat, -moz-linear-gradient(#1c281f, #396337);
background: url('../images/dd.jpg') repeat, -o-linear-gradient(#1c281f, #396337);
background: url('../images/dd.jpg') repeat, -ms-linear-gradient(#1c281f, #396337);
background: url('../images/dd.jpg') repeat, linear-gradient(#1c281f, #396337);
}



