body,div,b,h2,a {
    padding: 0px; /* растояние от контента до рамки*/
    margin: 0px;  /* расстояние от рамки до внешних отступов..*/    
}
    body {
    background-image: url('../images/do.jpg');
}

#wrapper {
    background-image: url('../images/13.jpg');
    padding: 0px;
    margin: 0px auto;
    background-color: #6A7C03;
    width: 800px;
}

#header {
    margin: 0;
    padding: 0;
    background-image: url('../images/13.jpg');
    height: 180px;
}

#logo {
    background-image: url('../images/topol.jpg');
    position: relative;
    width: 100px;
    height: 140px;
    top: 10px;
    left: 30px;
}

#slogan {
    position: relative;
    margin: 0;
    padding: 0;
    bottom:  -12px;
    text-align: center;
    background: none;
}

#header_line {  
    position: relative;
    height: 20px;
    text-align: center;
    background: none;
}

#glavnaj {
    background: #E7FE63;
    position:absolute;
    width: 70px;
    height: 20px;
    bottom: 0px;
    left: 60px;
}

#contacts {
    background: #E7FE63;
    position:absolute;
    width: 70px;
    height: 20px;
    bottom: 0px;
    left: 240px;
}

#galery {
    background: #E7FE63;
    position: absolute;
    width: 60px;
    height: 20px;
    bottom: 0px;
    right: 280px;
}

#obratnaj {
    background: #E7FE63;
    position: absolute;
    width: 110px;
    height: 20px;
    bottom: 0px;
    right:  60px;
}


#content {
    height: 800px;
    background: #EDFE8B;
    position: relative;
    overflow: hidden;
}
#footer {
    background: #01A701;
    position: relative;
    height: 30px;
    width: 100%;
    text-align: center;
    clear:both;
}


h3 { font-size: 12pt; text-align: center}
a {
    text-decoration: none;
    color: #0903DE;
}

.news_item {
margin-left: 10px;    
background-image: none;
}

.admin {
    position: absolute;
    top: 2px;
    right: 12px;
    background-image: none;
    text-align: right;
    padding: 0px; /* растояние от контента до рамки*/
    margin: 0px;  /* расстояние от рамки до внешних отступов..*/
}


#content_admin {
    background: rgba(206,128,62,0.8);
    padding: 0px;
    margin: 0px auto;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    
}
#add {
    padding: 0px;
    margin: 0px auto;
    position: absolute;
    top: 0px;
    left: 80px;
    background: none;
}
#ex {
    position: absolute;
    top: 2px;
    right: 10px;
    background: inherit;
}
#n {
    position: relative;
    top 20px;
    left: 10px;
    background: inherit;
}
#m_page {
    position: absolute;
    top: 1px;
    right:80px;
    background: inherit;
}

#admins {
    position: absolute;
    top: 0px;
    left: 80px;
    background: inherit;
}

#galer {
    position: absolute;
    width: 200px;
    top 0px;
    left: 240px;
    background: inherit;
}